<h2>Applications:</h2>

<div>
  <ul class="nav nav-pills pull-left">
    <li class="dropdown">
      <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" data-target="#">Actions <b
        class="caret"></b></a>
      <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
        <li><a tabindex="-1" href="" ng-click="start()">Start</a></li>
        <li><a tabindex="-1" href="" ng-click="stop()">Stop</a></li>
        <li><a tabindex="-1" href="" ng-click="restart()">Restart</a></li>
        <li><a tabindex="-1" href="" ng-click="kill()">Kill</a></li>
        <li><a tabindex="-1" href="" ng-click="pause()">Pause</a></li>
        <li><a tabindex="-1" href="" ng-click="unpause()">Unpause</a></li>
        <li><a tabindex="-1" href="" ng-click="removeAction()">Remove</a></li>
        <li><a tabindex="-1" href="#/application/new">Create new</a></li>
      </ul>
    </li>
  </ul>

  <div class="pull-right form-inline">
    <input type="checkbox" ng-model="displayAll" id="displayAll" ng-change="toggleGetAll()"/> <label for="displayAll">Display
    All</label>&nbsp;
    <input type="text" class="form-control" style="vertical-align: center" id="filter" placeholder="Filter"
           ng-model="filter"/> <label class="sr-only" for="filter">Filter</label>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><input type="checkbox" ng-model="toggle" ng-change="toggleSelectAll()"/> Action</th>
    <th>Name</th>
    <th>Image</th>
    <th>Command</th>
    <th>Created</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="application in applications |  filter:filter">
    <!-- TOTO remettre le filter (| filter:filter | orderBy:predicate)-->
    <td><input type="checkbox" ng-model="application.Checked"/></td>
    <td><a href="#/application/{{ application.id }}/">{{ application.doc.Name}}</a></td>
    <!--  TODO remettre en place le filter applicationname -->
    <td><a href="#/images/{{ application.Image }}/">{{ application.Image }}</a></td>
    <td>{{ application.Command }}</td>
    <!-- TODO remettre le truncate filter (truncate:40) -->
    <td>{{ application.Created }}</td>
    <!--TODO remettre le filter (|getdate)-->
    <td><span class="label label-{{ application.Status }}">{{ application.Status }}</span></td>
    <!-- TODO remettre le filter (|statusbadge)-->
  </tr>
  </tbody>
</table>
