<h1>Templates</h1>
<table class="table table-condensed table-hover table-striped table-bordered dataTable">
    <thead>
    <tr class="success vcenter form-group">
        <td colspan="7">
            <!--            <button type="button" class="btn btn-primary btn-sm"><span
                                class="glyphicon glyphicon-refresh"></span><strong> Refresh</strong>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm">
                            <span ng-class="{'glyphicon glyphicon-unchecked':!showAllImagesFlag, 'glyphicon glyphicon-check':showAllImagesFlag}"></span><strong>
                            All</strong>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm"><span
                                ng-class="{'glyphicon glyphicon-unchecked':!showUntaggedImagesFlag, 'glyphicon glyphicon-check':showUntaggedImagesFlag}"></span><strong>
                            Create</strong>
                        </button>
              -->            <!-- <label>Filter: <input ng-model="search.$"></label>_-->
            <strong>Items listed: <span class="badge">{{templates.length}}</span></strong>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="1%" class="text-center">
                    <span ng-class="{'glyphicon glyphicon-check':selectAllImagesFlag, 'glyphicon glyphicon-unchecked':!selectAllImagesFlag}"
                          class="vcenter"
                          ng-click="switchSelectAllImagesFlag()">
                </span>
        </td>
        <td width="2%" class="text-center">
            <strong>Control</strong>
        </td>
        <td width="10%" class="text-center" ng-click="changeSorting('tagString')">
            <strong>Name</strong>
        </td>
        <td width="20%" class="text-center" ng-click="changeSorting('Size')">
            <strong>Description</strong>
        </td>
        <td width="5%" class="text-center" ng-click="changeSorting('Created')">
            <strong>Created</strong>
        </td>
    </tr>
    <tr *ngIf="!templates" *ngFor="#template of templates">

        <td class="text-center">
                  <span ng-class="{'glyphicon glyphicon-check':template.selected, 'glyphicon glyphicon-unchecked':template!=selectedTemplate}"
                        class="vcenter"
                        ng-click="switchSelectedImage(template)">
                 </span>
        </td>
        <td class="text-center">
            <button class="btn btn-danger btn-block btn-sm" ng-click="removeTemplate(template.id)">
                <strong>Remove</strong>
            </button>
        </td>
        <td class="text-center">
            <button class="btn btn-info btn-block btn-sm" ng-click="gotoDetail(template.id)">
                <strong>{{template.name}}</strong>
            </button>
        </td>
        <td class="text-left">
            {{template.description}}
        </td>
        <td class="text-center">{{template.Created * 1000 | date:'dd-MM-yy HH:mm:ss'}}</td>
    </tr>
    <tr *ngIf="templates">
        <td>empty</td>
    </tr>
    </tbody>
</table>