<div class="detail">
  <div ng-if="!application.edit">
    <h4>Application: {{ application.data.Name }}
      <button class="btn btn-primary"
              ng-click="application.edit = true;"
              ng_show="">Rename
      </button>
    </h4>
  </div>
  <div ng-if="application.edit">
    <h4>
      Application:
      <input type="text" ng-model="application.newApplicationName">
      <button class="btn btn-success"
              ng-click="renameApplication()">Save
      </button>
      <button class="btn btn-danger"
              ng-click="application.edit = false;">&times;</button>
    </h4>
  </div>

  <div>
    <h5>Instances:</h5>

    <div class="btn-group detail">
      <button class="btn btn-success"
              ng-click="start()"
              ng-show="!application.State.Running">Start
      </button>
      <button class="btn btn-warning"
              ng-click="stop()"
              ng-show="application.State.Running && !application.State.Paused">Stop
      </button>
      <button class="btn btn-danger"
              ng-click="kill()"
              ng-show="application.State.Running && !application.State.Paused">Kill
      </button>
      <button class="btn btn-info"
              ng-click="pause()"
              ng-show="application.State.Running && !application.State.Paused">Pause
      </button>
      <button class="btn btn-success"
              ng-click="unpause()"
              ng-show="application.State.Running && application.State.Paused">Unpause
      </button>
      <button class="btn btn-success"
              ng-click="restart()"
              ng-show="application.State.Running && !application.State.Stopped">Restart
      </button>
      <button class="btn btn-primary"
              ng-click="commit()"
              ng-show="application.State.Running && !application.State.Paused">Commit
      </button>
    </div>
  </div>
  <div>
    <h5>Services:</h5>

    <div ng-repeat="(name, service) in application.data.Services">
      <service data="service" name="name"></service>
    </div>
    <div class="btn-group detail">
      <button class="btn btn-success"
              ng-click="saveApp()">Save
      </button>
      <button class="btn btn-success"
              ng-click="cancelApp()">Cancel
      </button>
    </div>
  </div>
</div>
